@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

body {
    background-color: #1a1a1a;
    color: #d3d3d3;
    font-family: 'IM Fell DW Pica', serif;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #d3d3d3;
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
    text-align: center;
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#filterForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: 25%;
}

#filterForm label {
    flex-basis: 100%;
    margin-top: 10px;
    color: #d3d3d3;
}

#filterForm select,
#filterForm input[type="date"],
#filterForm input[type="text"] {
    flex-basis: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #3c3c3c;
    color: #d3d3d3;
}

#filterForm input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#filterForm input[type="submit"]:hover {
    background-color: #0056b3;
}

#showCards {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

#showCards:hover {
    background-color: #1e7e34;
}

#character-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #3c3c3c;
    margin: 20px;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
    height: auto;
}

.card h2, .card p {
    text-align: center;
    color: #d3d3d3;
}

/*****************media query***************/
@media (max-width: 768px) {
    main {
        width: 100%;
    }
    #character-cards {
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
    }
    .card {
        margin: 20px 0;
    }
}